body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: rgb(0, 0, 0);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items horizontally (center) */
    justify-content: center; /* Align items vertically (center) */
    width: 600px;
    height: 500px;
    margin: 50px auto;
    background-color: #ffffff4d;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.945);
    padding: 40px;
}

#logo {
    margin-bottom: 20px; /* Add some space between the image and the heading */
}

h1 {
    text-align: center;
    color: #ffffff;
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
}
/* Pyxel heading css code */

  
textarea {
    width: 100%;
    height: 500px;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
    background-color: #ffffff4d;
    border-radius: 5px;
    resize: none;
    font-size: 16px;
}

button {
    
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#output {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #e6e3e3;
    box-shadow: #333;
    box-shadow: 0 0 20px rgb(10 10 10);
    font-size: 16px;
    color: #ffffff;
}
.oleo-script-regular {
    font-family: "Oleo Script", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .oleo-script-bold {
    font-family: "Oleo Script", system-ui;
    font-weight: 700;
    font-style: normal;
  }
  
#developer{
    font-family: "Oleo Script", system-ui;
    font-weight: 100;
    font-style: normal;
    color: white;
}
.container2 {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items horizontally (center) */
    width: 600px;
    margin: 50px auto;
    background-color: #ffffff4d;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(238, 58, 58, 0.719);
    /* padding: 40px; */
}

.CodeMirror {
    border: 1px solid #ddd;
    border-radius: 5px;
    /* margin-top: 10px; */
    height: 600px;
    width: 500px;
    font-size: 1em;
}

@media only screen and (max-width: 768px) {
    /* Styles for smaller screens */
    .container, .container2 {
      width: 70%; /* Make containers take full width on mobile */
    }
    .CodeMirror {
      height: 40%;
        width: 80%; /* Adjust CodeMirror width for smaller screens */
    }
  }
  
